<div class="container full">
  <div class="row v-align justify-content-center pb-0 pt-0 mt-5 mb-5">
    <div class="col-5">
      <img src="assets/images/logoGdev.png" class="img-fluid" alt="imagen" />
    </div>
  </div>

  <div class="row v-align justify-content-center pb-0 pt-0 mt-5 mb-5">

    <div class="col-5">
      <form>
        <mat-form-field color="primary" class="example-full-width" appearance="outline" name="username">
          <mat-label>Username</mat-label>
          <input matInput placeholder="UsernameExample123" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label color="accent" >Password</mat-label>
          <input matInput placeholder="*******" type="password" name="password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary">Log in</button>
    </div>
  </div>

  <div class="text-center mt-2 pb-2" >

    <a  href="">Sign up</a><br>
    <a  href="">Forgot Password</a>

  </div>
