
.landing_section{

    display: grid;

}

.landing_section, .contact_section{

    background-color: #f5efe6;

}


.contact_section > p{

    background-color: #343352;

}

.contact_section > p:hover{

    box-shadow: 0px 50px 75px -25px #ad3500 !important;
    top: -20px !important;

}

a:hover{

    color: #091434;
    text-decoration: underline;
    cursor:crosshair;

}

/*
html, body {
  height: 100%;
  width: 100%;
}

section, article {
  border: 1px solid grey;
  border-radius: 1%;
  text-align: center
}

body{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;

}

.half{

  width: 49%;

}

.fila2{

  width: 32%;

}

body :nth-child(8){

  width: 100%;

}

*/

/*
Grid Mark


.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "f1 f1 f1 f2 f2 f2"
    "f3 f3 f4 f4 f5 f5"
    "f6 f6 f6 f7 f7 f7"
    "f8 f8 f8 f8 f8 f8"; 
}
.f1 { grid-area: f1; }
.f2 { grid-area: f2; }
.f3 { grid-area: f3; }
.f4 { grid-area: f4; }
.f5 { grid-area: f5; }
.f6 { grid-area: f6; }
.f7 { grid-area: f7; }
.f8 { grid-area: f8; }


*/