<div class="container full">
  <div class="row v-align justify-content-center pb-0 pt-0 mt-5 mb-5">
    <div class="col-5">
      <img src="assets/images/logoGdev.png" class="img-fluid" alt="imagen" />
    </div>
  </div>

  <div class="row v-align justify-content-center pb-0 pt-0 mt-5 mb-5">

    <div class="col-5 text-center">
      <form >

        <mat-form-field color="primary" appearance="outline" >
          <mat-label>Username</mat-label>
          <input matInput placeholder="UsernameExample123" name="username">
        </mat-form-field>

        <mat-form-field appearance="outline" name="password">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password">
          <button type='button' mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>


        <button type="submit" mat-raised-button >Log in</button>
      </form>

    </div>
  </div>

  <div class="text-center mt-2 pb-2" >

    <a  href="">Sign up</a><br>
    <a  href="">Forgot Password</a>

  </div>
