*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;

    grid-template-rows: 0.8fr 0.8fr 1fr 1fr 0.8fr 0.8fr 0.5fr 0.5fr 0.5fr 0.2fr 0.5fr 1fr 1fr 0.5fr;
    row-gap: 2vw;
    grid-template-areas:
      "Landing"
      "Landing"
      "About_me "
      "Video"
      "Estudios_actuales "
      "Estudios_previos "
      " Cursos"
      "Contact_pic "
      "Redes_social"
      "Localidad "
      " Mapa"
      "Enviame_msj "
      "Enviame_msj "
      "Footer";
  }

  p{
    font-size: 4vw;
  }

  .Landing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
      "Landing-ocupacion"
      "."
      "Landing-nombre";

    background-position: top;
    background-image: url("../src/ScenicDesktopW.jpg");
  }
  .Landing h1 {
    mix-blend-mode: normal;
    color: #091434;
  }

  .Landing h2 {
    font-size: 6vw;
  }

  .Localidad h2,
  .Redes_social h2,
  .Enviame_msj h2 {
    font-size: 7vw;
    text-align: center;
  }

  .Estudios_actuales h3,
  .Estudios_previos h3,
  .Cursos h3,
  .About_me h3 {
    font-weight: 600;
    font-size: 5vw;
  }

  nav {
    display: none;
  }

  .Cursos table th,
  table td {
    font-size: 3vw;
  }

  .Redes_social svg {
    width: 6vw;
    height: 6vw;
  }

  .Redes_social a{
    font-size: 5.5vw;
  }
  .Cursos {
    height: min-content;
  }

  .Enviame_msj .field-dividio {
    width: 100%;
  }
}
