<body>
      
  <h1><%= title %></h1>

  <h2>Endpoints Api Rest</h2>

  <table>
    <thead>
      <th>
        Endpoint
      </th>
      <th>
        Uso
      </th>
    </thead>

    <tbody>
    
      <tr>
        <td>
          "/api"
        </td>
        <td>
          "Routa base de la información"
        </td>
      </tr>
      
      <tr>
        <td>/api/videojuegos</td>
        <td>Obtiene todos los videjuegos en la base de datos relacional</td>
  
      </tr>
      <td>/api/desarrolladores</td> <td>Obtiene todos los desarrolladores en la base de datos relacional</td>
      <tr>
        <td>/login</td> <td>Revisa la base de datos para la clave y usuario enviada</td>
        
      </tr>

      <tr>
        <td>/login/logout</td>
        <td>Destruye la sesión para hacer un logout</td>

      </tr>
    </tbody>

  </table>

</body>
