.toolbarNav{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #36354a;
}
mat-card{
  background-color:#e347aa !important;
}
mat-form-field{

  color: white;

}

table{
  width: 100%;
  table-layout: fixed;
}

mat-form-field {
  width: 100%;
}

table th{
  color: #d886ff
}

mat-icon{

  color:#d886ff
}
