<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gdevs</span>
  <span class="example-spacer"></span>

</mat-toolbar>

  <div class="col-12 d-flex align-items-center justify-content-center ">
    <mat-card>
      Home
    </mat-card>

  </div>




<div class="row col-12">
  <mat-form-field>

  <input
    matInput
    (keyup)="applyFilter($any($event.target).value)"
    placeholder="Search"
  />
</mat-form-field>
</div>

<div class="row col-12">

  <cdk-virtual-scroll-viewport tvsItemSize="48" class="wrapper mat-elevation-z2 col-12" style="height:65vh; width: 100%;">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- <ng-container matColumnDef="sales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-sm">
          Sales
        </th>
        <td mat-cell *matCellDef="let element" class="col-sm">
          {{ element.sales }}
        </td>
      </ng-container> -->


      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>


      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
        <td mat-cell *matCellDef="let element">{{ element.genre }}</td>
      </ng-container>


      <ng-container matColumnDef="desarrollador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Desarrollador</th>
        <td mat-cell *matCellDef="let element">{{ element.desarrollador }}</td>
      </ng-container>

      <!--
      <ng-container matColumnDef="fechaLanzamiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Lanzamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaLanzamiento }}</td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>



<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <p>Home</p>
  </button>
  <button
    mat-flat-button
    routerLink="/developers"
    routerLinkActive="active-link"
  >
    <mat-icon class="">groups</mat-icon>
    <p>Devs</p>
  </button>
  <button mat-flat-button routerLink="/games" routerLinkActive="active-link">
    <mat-icon class="">sports_esports</mat-icon>
    <p>Games</p>
  </button>
  <button mat-flat-button routerLink="/api-view" routerLinkActive="active-link">
    <mat-icon class="">person</mat-icon>
    <p>Profile</p>
  </button>
</mat-toolbar>
