
.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-rows: 1.3fr 1.3fr 1fr 1fr 0.6fr 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  column-gap: 3vw;

  grid-auto-flow: row;


  grid-template-areas:
    "Landing Landing Landing Landing"
    "Landing Landing Landing Landing"
    "About_me About_me Video Video"
    "About_me About_me Video Video"
    "Estudios_actuales Estudios_actuales Estudios_previos Estudios_previos"
    "Estudios_actuales Estudios_actuales Estudios_previos Estudios_previos"
    ". Cursos Cursos ."
    ". Cursos Cursos ."
    "Contact_pic Contact_pic Redes_social Redes_social"
    "Contact_pic Contact_pic Redes_social Redes_social"
    "Localidad Localidad Mapa Mapa"
    "Localidad Localidad Mapa Mapa"
    "Enviame_msj Enviame_msj Enviame_msj Enviame_msj"
    "Enviame_msj Enviame_msj Enviame_msj Enviame_msj"
    "Enviame_msj Enviame_msj Enviame_msj Enviame_msj"
    "Footer Footer Footer Footer";


  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: stretch;

}

.Landing {
  grid-area: Landing;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . ."
    ". . Landing-ocupacion"
    "Landing-nombre Landing-nombre Landing-nombre ";


  /* Efecto Paralax con la foto de fondo*/

  background-attachment: fixed;
  background-image: url("../src/ScenicDesktopW.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  align-items: center;
  justify-content: center;
}

.Landing-ocupacion {
  grid-area: Landing-ocupacion;

  display: flex;

}

.Landing-nombre {
  grid-area: Landing-nombre;

  display: flex;

  justify-content: center;
}

.Landing h1 {

  font-weight: 900;
  font-style: oblique;
  font-size: 6vw;
  mix-blend-mode: screen;
  color: black;
  border-radius: 30px;
  background-color: white;
}

.Landing h2 {

  font-weight: 600;

  color: white;
  font-size: 3.5vw;
}

.About_me {
  padding: 1.5vw;
  grid-area: About_me;
  margin: auto;

}

.About_me p {
  text-align: justify;
  font-weight: 400;
  
}

.Video {
  grid-area: Video;
  padding-top: 10vw;
  padding-bottom: 10vw;
  padding-left: 4vw;
  padding-right: 5vw;

}

.Video video{

  padding: 0.5vw;
  left: 0;
  top: 0;
  border-radius:40px;
}

.Estudios_actuales {
  padding: 2vw;
  grid-area: Estudios_actuales;
}

.Estudios_previos {
  padding: 2vw;
  grid-area: Estudios_previos;
}

.Estudios_actuales p,
.Estudios_previos p {
  text-align: justify;
  font-weight: 400;
}

.Estudios_actuales h3,
.Estudios_previos h3,
.About_me h3  {

  text-align: center;
  font-weight: 600;
  font-size: 2vw;
}

.Cursos {
  grid-area: Cursos;
  margin-top:3vw;

}

.Contact_pic {

  grid-area: Contact_pic;


  padding-left: 5vw ;
  padding-right: 5vw;


}

.Contact_pic img{
  
  object-fit:cover;
  max-height: 100%;
  align-self: center;
}

.Redes_social {
  grid-area: Redes_social;

}

.Localidad {
  grid-area: Localidad;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Localidad h2 , .Redes_social h2 , .Enviame_msj h2{

  text-align: center;
  font-weight: 600;
  font-size: 3.5vw;
  color: white;
}

.Redes_social h2{
  text-align: justify;
}

.Mapa {
  grid-area: Mapa;
  padding: 1.5vw;
}
.Mapa iframe {
  width: 100%;
  height: 100%;

}

.Enviame_msj {
  grid-area: Enviame_msj;
}

.Footer {
  grid-area: Footer;
}
