
.form-mensaje {
	margin:2vw 10vw;
	padding: 6vw;
	font-family: "Montserrat", sans-serif;
    font-size: 2.5vh;
}
.form-mensaje li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 2vh 0 0 0;
}
.form-mensaje label{
	margin-bottom:1vh;
	padding:0px;
	display:block;
	font-weight: bold;
}


.form-mensaje input,
textarea, 
select{
    padding: 2vh;
	outline: none;	
}

.form-mensaje input:focus, 
.form-mensaje textarea:focus, 
.form-mensaje select:focus{
    
    border: 1px solid white;
	box-shadow: 0 0 1.5vw #ff923eff;
	border: 1px solid #ff923eff;
}
.form-mensaje .field-dividio{
	width: 49%;
}

.form-mensaje .field-long{
	width: 100%;
}
.form-mensaje .field-textarea{
	height: 30vh;
}
.form-mensaje input[type=submit]{

	background: #ff923eff;
	padding: 1.5vw 2vw;
	border: none;
	color: #fff;
    position: relative;


}
.form-mensaje input[type=submit]:hover{
	
    background: rgb(255, 160, 101);

    box-shadow: 0 3vw 4vw -2vw #ff923eff;

    top: -1vh !important;
    transition: 0.2s;
    cursor:pointer;
}