
nav{
    color: transparent;

    display: flex;
    position: fixed;

    right: 1vw;

    top: 0vw;
    margin:0vw;

    z-index: 999;
    flex-grow: 1;
  
}

#ulNav-right{

    width: fit-content;
  
    list-style-type: none;
    text-align: center;
    align-content: center;
  
  }

#ulNav-right li{

    border-radius: 40px;
    padding: 0.20vw;
    margin: 0.5vw;
    background-color: #2884ba;
  
}
  
#ulNav-right li:hover{

    background-color: #ff923eff;
  
}
  
#ulNav-right li a {


    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 2.5vw;
    
}
  