@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,900&display=swap');

*{

    font-family: 'Montserrat', sans-serif;

}

h1{
    font-size: 30px;
    color: navy;
}

#p_acercademi{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 30%;
    color: navy;
    background-color: azure;
    margin:  5% 5%;
    text-align: center;
    margin: 10% 10%;
    box-shadow: 10px 20px gray;

}

.seccion{
    background-color: tan;
    
}

.seccion > #p_acercademi{

    color:darkslategray;

}