<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gdevs</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<div class="col-12 d-flex align-items-center justify-content-center ">
  <mat-card>
    Developers
  </mat-card>

</div>

<div class="row justify-content-center mt-2" >

  <mat-form-field class="mt-0 searchbar">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Search" name= "search">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
  </mat-form-field>
</div>




<cdk-virtual-scroll-viewport  class="col-12"  itemSize="100" style="height:60vh" >

  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" >
    <div *cdkVirtualFor="let item of items" fxFlex="35%" fxFlexAlign="center">
      <mat-card class=" mt-3 justify-content-center">
        <img mat-card-image src="./../../assets/images/devs/{{item.idDesarrollador}}.jpg">
        <mat-card-content>
          <span>{{item.nombre}}</span>
            <p>
              <span class="bold">{{item.especialidad}}</span>
              <br>
              <span class="bold">Año Fundacion: {{item.anio}}</span>
            </p>
            <button mat-button><mat-icon >bookmark</mat-icon></button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</cdk-virtual-scroll-viewport>

<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon >home</mat-icon>
    <p>Home</p>
  </button>
  <button mat-flat-button routerLink="/developers" routerLinkActive="active-link">
    <mat-icon class="">groups</mat-icon>
    <p>Devs</p>
  </button>
  <button mat-flat-button routerLink="/games" routerLinkActive="active-link">
    <mat-icon class="">sports_esports</mat-icon>
    <p>Games</p>
  </button>
  <button mat-flat-button routerLink="/api-view" routerLinkActive="active-link">
    <mat-icon class="">person</mat-icon>
    <p>Profile</p>
  </button>
</mat-toolbar>


