.toolbarNav{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: #36354a;
}
mat-card{
  background-color:#e347aa !important;
}

mat-icon{

  color:#d886ff
}

p{
  width: 100%;
}

mat-card-content{
  width: 100%;
}

mat-form-field{

  color: white;

}

.bold{

  color: #7e1472;

}
